<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start-button-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,0},{277,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,88}}</string>
                <key>sourceSize</key>
                <string>{277,88}</string>
            </dict>
            <key>start-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{277,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,88}}</string>
                <key>sourceSize</key>
                <string>{277,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startbutton.png</string>
            <key>size</key>
            <string>{1024,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e1c2825f6a88ac0e2652123ae20092$</string>
            <key>textureFileName</key>
            <string>startbutton.png</string>
        </dict>
    </dict>
</plist>
